    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
    }
    /* end of Eric Meyer’s CSS Reset 2.0*/

    body {
      font-size: 1.4em;
      color: #000;
      height: 100vh;
    }

    body, textarea, input {
      font-family: 'Muli', sans-serif;
      background-color: #eef;
      text-align: center;
    }

    strong, b, button, h1 {
      font-family: 'Montserrat', sans-serif;
    }

    #switch {
      background-image: url('images/plate.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 98vh;
      margin-top: 1vh;
    }

    #on, #off {
      position: relative;
      top: 50%;
      margin: 0 auto;
      transform: translateY(-50%);
      height: 21vh;
      max-height: 31vw;
      width: 13vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      /*width: 50px;*/
    }

    #on {
      background-image: url('images/on.png');
    }

    #off {
      background-image: url('images/off.png');
    }

/*    #container {
      text-align: center;

      position: relative;

      height: 100%;
    }
*/
/*    #switch {

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

    }*/